node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.vs/羊城脉动-·-穗道奇缘.slnx/FileContentIndex/4c6fd236-1490-493e-a79b-fedf602933d7.vsidx
*.json
*.vsidx
.vs/羊城脉动-·-穗道奇缘.slnx/v18/.wsuo
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/羊城脉动-·-穗道奇缘/CopilotIndices/18.5.39187.10602/CodeChunks.db
.vs/羊城脉动-·-穗道奇缘/CopilotIndices/18.5.39187.10602/CodeChunks.db-shm
.vs/羊城脉动-·-穗道奇缘/CopilotIndices/18.5.39187.10602/CodeChunks.db-wal
.vs/羊城脉动-·-穗道奇缘/CopilotIndices/18.5.39187.10602/SemanticSymbols.db
.vs/羊城脉动-·-穗道奇缘/CopilotIndices/18.5.39187.10602/SemanticSymbols.db-shm
.vs/羊城脉动-·-穗道奇缘/CopilotIndices/18.5.39187.10602/SemanticSymbols.db-wal
